env.cohorts = 'BLADDER BrCa CRC NSCLC PANC Prostate CRC2 NSCLC2 MELANOMA OVARIAN ESOPHAGO RENAL'
docker.enabled = true

manifest {
	name = 'Sage-Bionetworks/genie-bpc-pipeline'
	author = 'Thomas Yu'
	homePage = 'https://github.com/Sage-Bionetworks/genie-bpc-pipeline'
	description = 'Nextflow pipeline for first steps of GENIE BPC data processing'
	mainScript = 'main.nf'
	nextflowVersion = '>=21.04.0-edge'
	version = '0.1'
}
profiles {
	aws_prod {
		process {
			withName: update_potential_phi_fields_table {
				memory = 32.GB
				cpus = 8
			}
			withName: run_workflow_case_selection {
				memory = 32.GB
				cpus = 8
			}
			withName: run_export_bpc_selected_cases {
				memory = 32.GB
				cpus = 8
			}
			withName: run_quac_upload_report_warning {
				memory = 32.GB
				cpus = 8
			}
			withName: run_quac_upload_report_error {
				memory = 32.GB
				cpus = 8
			}
			withName: update_data_table {
				memory = 32.GB
				cpus = 8
			}
			withName: merge_and_uncode_rca_uploads {
				memory = 32.GB
				cpus = 8
			}
			withName: remove_patients_from_merged {
				memory = 32.GB
				cpus = 8
			}
			withName: run_clinical_release {
				memory = 32.GB
				cpus = 8
			}
		}
	}
}
