env.cohorts = 'BLADDER BrCa CRC NSCLC PANC Prostate'
docker.enabled = true
docker.runOptions = '--entrypoint /bin/bash'

manifest {
	name = 'Sage-Bionetworks/genie-bpc-pipeline'
	author = 'Haley Hunter-Zinck'
	homePage = 'https://github.com/Sage-Bionetworks/genie-bpc-pipeline'
	description = 'Nextflow pipeline for first steps of GENIE BPC data processing'
	mainScript = 'main.nf'
	nextflowVersion = '21.04.0.5552'
	version = '0.1'
}
